* {
    /*outline: 1px solid rgba(255,0,0,0.4);*/
}

body {
    background: url(img/monkey-pattern-vector-1196932.jpg);
    font-family: 'Viga', sans-serif;;
}
.title {
    color:#d87808;
    font-weight: bold;
}
.opaco {
    background: rgba(255,250,240,0.8);
}
.color {
    text-decoration: none;
    font-size: 15px;
    background: rgba(83, 189, 245, 0.6);
    padding: 1% 2%;
}
.color:hover {
    text-decoration: none;
    background: rgba(219, 165, 18, 0.6);
    color:#fff;
}
